<div class="sf__pcard prod-box prod-box-activity">
  <a href="">
            <div class="prod-images sf__pcard-image ">
              <img class="main" src="{{ 'card-newwww.jpg' | asset_url }}">
            </div>
              <div class="cta-description ">
                   <span class="sf__pcard-vendor block uppercase text-xs mb-2">geckobrands</span>
                  <h2>GET A FREE RAMBLER®<br>14 OZ MUG</h2><p>When you spend $200 or more.</p>
                  <a href="#" class="add-to-bag">Shop Now</a>
                  <div class="text-disclaimer">
                    <p>Offer expires 12/19/22. Exclusions apply.<br><a href="#" target="_self">See Details. </a></p>
                  </div>
              </div>
  </a>
</div>