<div class="coolers-accessories">
  <h1>ACCESSORIES</h1>
  <div class="coolers-accessories-inner">
    <div class="coolers-accessories-content">
      <h2>Enhance Your Chill: Premium Cooler Accessories</h2>
      <p>Discover our Ice Packs & Flexible Ice Sheets, designed for maximum coolness on every adventure.</p>
      <a href="/collections/ice-pack" class="btn-cooleracc">See Accessories</a>
    </div>
    <div class="coolers-accessories-image">
      <img src="{{ 'cooler-accessories.png' | asset_url }}">
    </div>
  </div>
</div>
{% schema %}
{
  "name": "Cooler Accessories",
  "settings": [],
   "presets": [{
  "name": "Cooler Accessories"
}]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}