<div class="customslider owl-carousel owl-theme" id="customslider-1">
  <div class="slide-wrap bg-image" style="background-image:url(https://dummyimage.com/424x522/#80808/fff);" data-campaign="null" data-creative="null" data-hover="false">
<a href="#" tabindex="0" data-position="5.1">
<div class="cta-description top-center">
<h4>CAMINO® 20</h4><p><strong>LOREM IPSUM DOLOR</strong></p><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit </p><p><strong>$130</strong></p>
<button class="add-to-bag-link-light" tabindex="0">
shop now
</button>
</div>
</a>
</div>
    <div class="slide-wrap bg-image" style="background-image:url(https://dummyimage.com/424x522/#80808/fff);" data-campaign="null" data-creative="null" data-hover="false">
<a href="#" tabindex="0" data-position="5.2">
<div class="cta-description top-center">
<h4>CAMINO® 35</h4><p><strong>LOREM IPSUM DOLOR</strong></p><p>Lorem ipsum dolor sit amet </p><p><strong>$150</strong></p>
<button class="add-to-bag-link-light" tabindex="0">
shop now
</button>
</div>
</a>
</div>
   <div class="slide-wrap bg-image" style="background-image:url(https://dummyimage.com/424x522/#80808/fff);" data-campaign="null" data-creative="null" data-hover="false">
<a href="#" tabindex="0" data-position="5.3">
<div class="cta-description top-center">
<h4>CAMINO® 50</h4><p><strong>LOREM IPSUM DOLOR</strong></p><p>lorem ipsum dolor sit amet</p><p><strong>$200</strong></p>
<button class="add-to-bag-link-light" tabindex="0">
shop now
</button>
</div>
</a>
</div>
  <div class="slide-wrap bg-image" style="background-image:url(https://dummyimage.com/424x522/#80808/fff);" data-campaign="null" data-creative="null" data-hover="false">
<a href="#" tabindex="0" data-position="5.4">
<div class="cta-description top-center">
<h4>LOREM IPSUM DOLOR</h4><p>Lorem ipsum dolor sit amet </p><p><strong>$35-$40</strong></p>
<button class="add-to-bag-link-light" tabindex="0">
shop now
</button>
</div>
</a>
</div>
   
</div>

{% schema %}
{
    "name": "Custom Slider-1",
  "settings": [],
   "presets": [{
  "name": "Custom Slider-1"
}]
}
{% endschema %}
