<div class="customslider owl-carousel owl-theme" id="customslider">
  <div class="slide-wrap bg-image" style="background-image:url(https://dummyimage.com/424x522/#80808/fff);" data-campaign="null" data-creative="null" data-hover="false">
<a href="#camino-totes" tabindex="0" data-position="3.1">
<div class="cta-description top-center">
<h4>Totes</h4><p>Lorem Ipsum Dolor</p>
<button class="add-to-bag-link-light" tabindex="0">
learn more
</button>
</div>
</a>
  </div>
    <div class="slide-wrap bg-image" style="background-image:url(https://dummyimage.com/424x522/#80808/fff);" data-campaign="null" data-creative="null" data-hover="false">
<a href="#camino-totes" tabindex="0" data-position="3.1">
<div class="cta-description top-center">
<h4>Totes</h4><p>Lorem Ipsum Dolor</p>
<button class="add-to-bag-link-light" tabindex="0">
learn more
</button>
</div>
</a>
  </div>
   <div class="slide-wrap bg-image" style="background-image:url(https://dummyimage.com/424x522/#80808/fff);" data-campaign="null" data-creative="null" data-hover="false">
<a href="#camino-totes" tabindex="0" data-position="3.1">
<div class="cta-description top-center">
<h4>Totes</h4><p>Lorem Ipsum Dolor</p>
<button class="add-to-bag-link-light" tabindex="0">
learn more
</button>
</div>
</a>
  </div>
  <div class="slide-wrap bg-image" style="background-image:url(https://dummyimage.com/424x522/#80808/fff);" data-campaign="null" data-creative="null" data-hover="false">
<a href="#camino-totes" tabindex="0" data-position="3.1">
<div class="cta-description top-center">
<h4>Totes</h4><p>Lorem Ipsum Dolor</p>
<button class="add-to-bag-link-light" tabindex="0">
learn more
</button>
</div>
</a>
  </div>
   
</div>

{% schema %}
{
    "name": "Custom Collection Slider",
  "settings": [],
   "presets": [{
  "name": "Custom Collection Slider"
}]
}
{% endschema %}
