<div class="footer-logo-bottom">
  <img class="desktop" src="{{ 'footer-logo-bottom-2024.png' | asset_url }}" alt="Logo"> 
  <img class="mobile" src="{{ 'footer-logo-bottom-2024-mobile.png' | asset_url }}" alt="Logo"> 
</div>
{% schema %}
{
  "name": "Footer Logo",
  "settings": [],
   "presets": [{
  "name": "Footer Logo"
}]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %} 
      
{% endjavascript %}