<div class="home-giftbox going bundle">
  <div class="home-giftbox-inner">
    <!-- <div class="home-giftbox-image">
      <img class="desktop" src="{{ '2024-11-11-Geckobrands-bundle-desktop 2.gif' | asset_url }}" alt="Bundle"> 
      <img class="mobile" src="{{ '2024-11-11-Geckobrands-bundle-mobile 2.gif' | asset_url }}" alt="Bundle"> 
    </div> -->
    <div class="home-giftbox-detail">
      <div class="home-giftbox-detail-inner">
        <div class="home-giftbox-detail-box">
          <span>Spend $100</span>
          <p>SAVE <span>10%</span></p>
        </div>

        <div class="home-giftbox-detail-box">
          <span>Spend $150</span>
          <p>SAVE <span>20%</span></p>
        </div>

        <div class="home-giftbox-detail-box">
          <span>Spend $200</span>
          <p>SAVE <span>30%</span></p>
        </div>
      </div>
    </div>
    <div class="home-giftbox-content">
      <!-- <h1>bundle & Save</h1>
      <p>All your essential outdoor gear in one click!</p>
      <a href="/collections/you-also-may-like">SHOP BUNDLES
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
          <mask id="mask0_10_341" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="20" height="20">
            <rect width="20" height="20" fill="#D9D9D9"/>
          </mask>
          <g mask="url(#mask0_10_341)">
            <path d="M13.125 10.75H4.75102C4.53823 10.75 4.35986 10.6786 4.21592 10.5357C4.07197 10.3927 4 10.2157 4 10.0044C4 9.79315 4.07197 9.6146 4.21592 9.46877C4.35986 9.32294 4.53823 9.25002 4.75102 9.25002H13.125L11.4583 7.58335C11.3056 7.43058 11.2292 7.25349 11.2292 7.0521C11.2292 6.85071 11.3022 6.67363 11.4484 6.52085C11.6078 6.36808 11.7882 6.29169 11.9896 6.29169C12.191 6.29169 12.3681 6.36808 12.5208 6.52085L15.4861 9.48612C15.5509 9.55094 15.6007 9.6271 15.6354 9.7146C15.6701 9.8021 15.6875 9.89585 15.6875 9.99585C15.6875 10.0959 15.6701 10.1896 15.6354 10.2771C15.6007 10.3646 15.5486 10.4459 15.4792 10.5209L12.5208 13.4792C12.3681 13.632 12.1944 13.7049 12 13.6979C11.8056 13.691 11.6286 13.6111 11.4692 13.4584C11.3231 13.3056 11.25 13.1285 11.25 12.9271C11.25 12.7257 11.3264 12.5486 11.4792 12.3959L13.125 10.75Z" fill="white"/>
          </g>
        </svg>
      </a>  -->
      <h1>Big Savings</h1>
      <p>All your essential outdoor gear in one click + free shipping!</p>
      <a href="/collections">SHOP NOW
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
          <mask id="mask0_10_341" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="20" height="20">
            <rect width="20" height="20" fill="#D9D9D9"/>
          </mask>
          <g mask="url(#mask0_10_341)">
            <path d="M13.125 10.75H4.75102C4.53823 10.75 4.35986 10.6786 4.21592 10.5357C4.07197 10.3927 4 10.2157 4 10.0044C4 9.79315 4.07197 9.6146 4.21592 9.46877C4.35986 9.32294 4.53823 9.25002 4.75102 9.25002H13.125L11.4583 7.58335C11.3056 7.43058 11.2292 7.25349 11.2292 7.0521C11.2292 6.85071 11.3022 6.67363 11.4484 6.52085C11.6078 6.36808 11.7882 6.29169 11.9896 6.29169C12.191 6.29169 12.3681 6.36808 12.5208 6.52085L15.4861 9.48612C15.5509 9.55094 15.6007 9.6271 15.6354 9.7146C15.6701 9.8021 15.6875 9.89585 15.6875 9.99585C15.6875 10.0959 15.6701 10.1896 15.6354 10.2771C15.6007 10.3646 15.5486 10.4459 15.4792 10.5209L12.5208 13.4792C12.3681 13.632 12.1944 13.7049 12 13.6979C11.8056 13.691 11.6286 13.6111 11.4692 13.4584C11.3231 13.3056 11.25 13.1285 11.25 12.9271C11.25 12.7257 11.3264 12.5486 11.4792 12.3959L13.125 10.75Z" fill="white"/>
          </g>
        </svg>
      </a>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Home Bundle",
  "settings": [],
   "presets": [{
  "name": "Home Bundle"
}]
}
{% endschema %}