<div class="home-segments">
  <h2>Shop By Activity</h2>
  <div class="home-segments-container">
    <a href="/collections/fishing" class="preference_box preference_slider_image firstBlock firstBlock_desk" style="background-image: url('//cdn.shopify.com/s/files/1/0683/7741/1865/t/3/assets/fishing-new-img.jpg'); ">
      <p class="top_head">Fishing
      </p>
      <div class="collectin_product_container">
<!--         <h2>Lorem Ipsum is simply dummy text.</h2> -->
        <p>Hook your go-to source for high-quality products and accessories that elevate every outdoor activity on your bucket list.</p>
        <span class="pointer-events-auto sf__btn sf__btn-white  text-white">Shop Now</span>
        </div>
      </a>
    <a href="/collections/camping" class="preference_box preference_slider_image" style="background-image: url('//cdn.shopify.com/s/files/1/0683/7741/1865/t/3/assets/camping3.jpg'); ">
      <p class="top_head">Camping
      </p>
        <div class="collectin_product_container">
          <p>Roughing it out in the wilderness? Become one with nature, and rest assured you’re prepared for anything with Geckobrands gear.</p>
          <span class="pointer-events-auto sf__btn sf__btn-white  text-white">Shop Now</span>
        </div>
    </a>
    <a href="/collections/jet-skiing" class="preference_box preference_slider_image" style="background-image: url('//cdn.shopify.com/s/files/1/0683/7741/1865/t/3/assets/jet sking3.jpg'); ">
      <p class="top_head">Jet Skiing
      </p>
      <div class="collectin_product_container">
          <p>Gain impressive speed with high-quality gear that balances function and design, supporting your every move in and out of the water.</p>
          <span class="pointer-events-auto sf__btn sf__btn-white  text-white">Shop Now</span>
        </div>
    </a>
    <a href="/collections/hiking" class="preference_box preference_slider_image" style="background-image: url('//cdn.shopify.com/s/files/1/0683/7741/1865/t/3/assets/hiking3.jpg'); ">
      <p class="top_head">Hiking
      </p>
      <div class="collectin_product_container">
          <p>Take in the sights and keep moving forward with total peace of mind. Geckobrands has your back.</p>
          <span class="pointer-events-auto sf__btn sf__btn-white  text-white">Shop Now</span>
        </div>
      </a>
    <a href="/collections/kayaking" class="preference_box preference_slider_image" style="background-image: url('//cdn.shopify.com/s/files/1/0683/7741/1865/t/3/assets/kayaking3.jpg'); ">
      <p class="top_head">Kayaking
      </p>
        <div class="collectin_product_container">
          <p>Enjoy your favorite sport with your precious cargo and Geckobrands gear on hand, in the water, or in the sand - whatever floats your boat. </p>
          <span class="pointer-events-auto sf__btn sf__btn-white  text-white">Shop Now</span>
        </div>   
    </a>
    <a href="/collections/paddleboarding" class="preference_box preference_slider_image" style="background-image: url('//cdn.shopify.com/s/files/1/0683/7741/1865/t/3/assets/paddling4.jpg'); ">
      <p class="top_head">PaddleBoarding
      </p>
       <div class="collectin_product_container">
          <p>Nothing but clear skies above and clear water below. And thanks to high-performing Geckobrands gear, you can achieve ultimate clearheadedness on every water excursion.</p>
          <span class="pointer-events-auto sf__btn sf__btn-white  text-white">Shop Now</span>
        </div>     
    </a>
  </div>
</div>

{% schema %}
{
  "name": "Home Segments",
  "settings": [],
   "presets": [{
  "name": "Home Segments"
}]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}