<div class="home-giftbox going">
  <div class="home-giftbox-inner">
    <div class="home-giftbox-image">
      <img class="desktop" src="{{ 'going-boxes.png' | asset_url }}" alt="GoingBoxes"> 
      <img class="mobile" src="{{ 'going-boxes-mobile.png' | asset_url }}" alt="GoingBoxes"> 
    </div>
    <div class="home-giftbox-content">
      <h1>COMPLETE YOUR COOLER WITH A GECKO ICE™ PACK</h1>
      <a href="/collections/gecko-ice">SHOP GECKO ICE™
               <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
                <path d="M15 6.6665L18.3333 9.99984L15 13.3332" stroke="#F7F7F7" stroke-width="1.25" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M1.66663 10H18.3333" stroke="#F7F7F7" stroke-width="1.25" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
      </a> 
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Home GoingBox",
  "settings": [],
   "presets": [{
  "name": "Home GoingBox"
}]
}
{% endschema %}