<div class="hp-image-text-banner left-image">
  <div class="hp-image-text-banner-inner">
    <div class="hp-image-text-image"> 
      <img class="desktop" src="{{ 'dry-box-desktop-banner.png' | asset_url }}">
      <img class="mobile" src="{{ 'dry-box-mobile-banner.png' | asset_url }}">
    </div>
    <div class="hp-image-text-banner-content">
      <h2>WATERPROOF. DUSTPROOF. WEATHERPROOF.</h2>
      <p>And Now Available in New Colors!</p>
      <a href="/products/waterproof-dry-box">
        shop dry boxes
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
          <path d="M15 6.66663L18.3333 9.99996L15 13.3333" stroke="#191919" stroke-width="1.25" stroke-linecap="round" stroke-linejoin="round"/>
          <path d="M1.66675 10H18.3334" stroke="#191919" stroke-width="1.25" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
      </a>
    </div>
  </div>
</div>
{% schema %}
{
  "name": "Image Right Text",
  "settings": [],
   "presets": [{
  "name": "Image Right Text"
}]
}
{% endschema %}

<style>
  .hp-image-text-banner{
    
  }

  .hp-image-text-banner .hp-image-text-banner-inner{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: flex-end;
  }

  .hp-image-text-banner .hp-image-text-banner-inner img{
    width: 100%;
  }

  .hp-image-text-banner.left-image .hp-image-text-banner-inner .hp-image-text-banner-content{
    display: flex;
    padding: 40px;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    flex-shrink: 0;
    background: #191919;
    height: 100%;
  }

  .hp-image-text-banner .hp-image-text-banner-inner .hp-image-text-banner-content h2{
    color: var(--actually-white, #FFF);
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: 100%; /* 40px */
    letter-spacing: -0.8px;
    margin: 0px;
  }

  .hp-image-text-banner .hp-image-text-banner-inner .hp-image-text-banner-content p{
    color: #FFF;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 27px */
    text-transform: uppercase;
    margin: 4px 0px 32px 0px;
  }

  .hp-image-text-banner.left-image .hp-image-text-banner-inner  .hp-image-text-banner-content a{
    display: flex;
    padding: 8px 24px;
    justify-content: center;
    align-items: center;
    gap: 16px;
    border-radius: 44px;
    background: var(--actually-white, #FFF);
    color: #191919;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
  }

  @media(min-width: 1300px){
    .hp-image-text-banner .hp-image-text-banner-inner .hp-image-text-banner-content h2{
      width: 580px;
    }
  }

  @media(min-width: 768px){
    .hp-image-text-banner.left-image .hp-image-text-banner-inner .hp-image-text-banner-content h2 br{
      display: block;
    }
  }

  @media(max-width: 768px){
    .hp-image-text-banner .hp-image-text-banner-inner {
      grid-template-columns: repeat(1, 1fr);
    }
    
    .hp-image-text-banner.left-image .hp-image-text-banner-inner .hp-image-text-banner-content {
      padding: 40px 20px;
      flex-direction: column;
      justify-content: flex-end;
      align-items: flex-start;
      flex-shrink: 0;
      background: #191919;
      height: 100%;
      order: 2;
    }

    .hp-image-text-banner .hp-image-text-banner-inner .hp-image-text-image{
      order: 1;
    }

    .hp-image-text-banner .hp-image-text-banner-inner .hp-image-text-banner-content h2{
      color: #FFF;
      font-size: 20px;
      font-style: normal;
      font-weight: 600;
      line-height: 100%; /* 20px */
      letter-spacing: -1px;
      text-transform: uppercase;
    }

    .hp-image-text-banner .hp-image-text-banner-inner .hp-image-text-banner-content p{
      color: #FFF;
      font-size: 14px;
      font-style: normal;
      font-weight: 600;
      line-height: 150%; /* 21px */
      text-transform: uppercase;
      margin: 8px 0px 16px 0px;
  }

    .hp-image-text-banner.left-image .hp-image-text-banner-inner .hp-image-text-banner-content a{
      color: #191919;
      font-size: 14px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      text-transform: uppercase;
    }
  }
</style>

