<div class="ipx-rating container">
  <div class="ipx-rating-subdiv">
    <h2>IPX4</h2>
    <p>A device with an Ipx4 rating can be classified as water resitant or sweatproof.</p>
    <p>IPX4 devices can withstand 10 minutes of water splashing and spraying ,mimicking heavy sweating and moderate rainy weather conditions.</p>
    <p>They offer  decent protection for daily use indoors or outdoors.</p>
  </div>
<div class="ipx-rating-subdiv">
    <h2>IPX5</h2>
    <p>A device with an Ipx4 rating can be classified as water resitant or sweatproof.</p>
    <p>IPX4 devices can withstand 10 minutes of water splashing and spraying ,mimicking heavy sweating and moderate rainy weather conditions.</p>
    <p>They offer  decent protection for daily use indoors or outdoors.</p>
  </div>
 <div class="ipx-rating-subdiv">
    <h2>IPX6</h2>
    <p>A device with an Ipx4 rating can be classified as water resitant or sweatproof.</p>
    <p>IPX4 devices can withstand 10 minutes of water splashing and spraying ,mimicking heavy sweating and moderate rainy weather conditions.</p>
    <p>They offer  decent protection for daily use indoors or outdoors.</p>
  </div>
<div class="ipx-rating-subdiv">
    <h2>IPX8</h2>
    <p>A device with an Ipx4 rating can be classified as water resitant or sweatproof.</p>
    <p>IPX4 devices can withstand 10 minutes of water splashing and spraying ,mimicking heavy sweating and moderate rainy weather conditions.</p>
    <p>They offer  decent protection for daily use indoors or outdoors.</p>
  </div>
</div>




{% schema %}
{
  "name": "IPx Rating",
  
   "presets": [{
  "name": "Ipx Rating"
}]
}
{% endschema %}

{% stylesheet %}
  
.ipx-rating{
    display:flex;
    padding:60px 20px 20px 20px;
  }
.ipx-rating .ipx-rating-subdiv h2{
    margin-bottom:15px;
    text-align:center;
  }
.ipx-rating .ipx-rating-subdiv{
     
      margin-left:10px;
      margin-right:10px;
    }
.ipx-rating .ipx-rating-subdiv p{
   text-align:left;
    margin-bottom:15px;
  }

  


{% endstylesheet %}

