<div class="mother-day-products june-collection">
  <div class="mother-day-products-inner">
     <h2>Explore More</h2>
     <div class="owl-carousel owl-theme juneSlider">
      <div class="june-collection-box item">
        <a href="/collections/phone-dry-bags">
          <img src="{{ 'june1.jpg' | asset_url }}"> 
          <div class="june-collection-overlay">
            <h1 class="white">PHONE DRY BAGS</h1>
            <a class="white shop-now" href="/collections/phone-dry-bags">Shop Now</a>
          </div>
        </a>
      </div>
       <div class="june-collection-box item">
        <a href="/collections/backpack-coolers">
          <img src="{{ 'june2.jpg' | asset_url }}">
          <div class="june-collection-overlay">
            <h1>BACKPACK COOLERS</h1>
            <a class="shop-now" href="/collections/backpack-coolers">Shop Now</a>
          </div>
        </a>
      </div>
      <div class="june-collection-box item">
        <a href="/collections/tote-coolers">
          <img src="{{ 'june4.jpg' | asset_url }}">
          <div class="june-collection-overlay">
            <h1 class="white">TOTE COOLERS</h1>
            <a class="white shop-now" href="/collections/tote-coolers">Shop Now</a>
          </div>
        </a>
      </div>
       <div class="june-collection-box item">
        <a href="/collections/floating-sunglasses">
          <img src="{{ 'june3.jpg' | asset_url }}">
          <div class="june-collection-overlay">
            <h1>FLOATING SUNGLASSES</h1>
            <a class="shop-now" href="/collections/floating-sunglasses">Shop Now</a>
          </div>
        </a>
      </div>
     </div>
  </div>
</div>

{% schema %}
{
  "name": "June Collection",
  "settings": [],
   "presets": [{
  "name": "June Collection"
}]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}