<div class="homepage-new-banner video-banner">
    <video class="desktop" width="100%" height="100%" autoplay loop muted playsinline> 
      <source class="lazyload" src="https://cdn.shopify.com/videos/c/o/v/5968833aade340d3a84f2fdc82d95552.mp4" type="video/mp4" /> 
    </video> 
    <video class="mobile" width="100%" height="100%" autoplay loop muted playsinline> 
      <source class="lazyload" src="https://cdn.shopify.com/videos/c/o/v/732f5449aed5446cb571c3d8dc72adb6.mp4" type="video/mp4" /> 
    </video>  

    <div class="homepage-new-banner-overlay">
      <h1>Going Somewhere?</h1>
      <p>Take us everywhere you go with <br>Travel accessories for every adventure.</p>
      <!-- <span class="giftcard-popup">See Details</span> -->
      <a href="/collections/travel-gear">SHOP LUGGAGE COLLECTION
               <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
                  <mask id="mask0_990_374" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="20" height="20">
                    <rect width="20" height="20" fill="#D9D9D9"/></rect>
                  </mask>
                  <g mask="url(#mask0_990_374)">
                    <path d="M13.125 10.75H4.75102C4.53823 10.75 4.35986 10.6785 4.21592 10.5356C4.07197 10.3927 4 10.2156 4 10.0044C4 9.79309 4.07197 9.61454 4.21592 9.46871C4.35986 9.32288 4.53823 9.24996 4.75102 9.24996H13.125L11.4583 7.58329C11.3056 7.43051 11.2292 7.25343 11.2292 7.05204C11.2292 6.85065 11.3022 6.67357 11.4484 6.52079C11.6078 6.36801 11.7882 6.29163 11.9896 6.29163C12.191 6.29163 12.3681 6.36801 12.5208 6.52079L15.4861 9.48606C15.5509 9.55088 15.6007 9.62704 15.6354 9.71454C15.6701 9.80204 15.6875 9.89579 15.6875 9.99579C15.6875 10.0958 15.6701 10.1895 15.6354 10.277C15.6007 10.3645 15.5486 10.4458 15.4792 10.5208L12.5208 13.4791C12.3681 13.6319 12.1944 13.7048 12 13.6979C11.8056 13.6909 11.6286 13.6111 11.4692 13.4583C11.3231 13.3055 11.25 13.1284 11.25 12.927C11.25 12.7257 11.3264 12.5486 11.4792 12.3958L13.125 10.75Z" fill="#191919"/></path>
                  </g>
                </svg>
              </a> 
      
    </div>
</div>
{% schema %}
{
  "name": "Main Video Banner",
  "settings": [],
   "presets": [{
  "name": "Main Video Banner"
}]
}  
{% endschema %}