<div class="pd-contentBlock bgLight mid-banner-section" style="background-color: undefined;">
<div class="container">
<div class="justify-content-between ">
<div class="region text-center text-lg-center col-12 single-col">
  <div class="geckobrands_assets-richtext">
<div class="richtext   mt-7 mb-0">
<p>
  <img style="width:50%;display:inline;" src="https://dummyimage.com/420x250/#80808/fff"></p>
</div></div></div>
<div class="region text-center text-lg-center col-12 single-col"><div class="geckobrands_assets-richtext">
<div class="richtext   mt-1 mb-6">
<h2><br></h2><h2><span class="d-block d-lg-none" style="font-size:26px; line-height:28px; letter-spacing:1.5pt">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. "</span></h2><h2 style="display:inline-block;max-width:600px;" ><span class="d-none d-lg-block" style="font-size: 2.25rem;line-height: 2.375rem;display: block;color:#002b45;margin-bottom:30px;font-weight: 500;letter-spacing: 1.8px;text-transform: Uppercase;">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. "</span></h2><h4><span style="font-size:18px; line-height:2px;">lOREUM IPSUM,<br> Ambassador | GeckoBrands</span></h4>
</div></div></div>
</div>
</div>
</div>

{% schema %}
{
      "name": "Mid-Section",
  "settings": [],
   "presets": [{
  "name": "Mid-Section"
}]
}
{% endschema %}
