<a href="javascript:void(0)" class="mother-day-banner-link">  
  <div class="mother-top-banner">
    <div class="mother-top-banner-inner">
    <img class="main-banner" src="{{ 'motherday-banner.jpg' | asset_url }}">
<!--       <div class="flex sf-hero__inner absolute inset-0 container-fluid py-10 md:py-15 lg:py-24 sf-hero__inner--middle-left">
        <div class="mother-top-banner-overlay">
          <h1>Get Mom what she really wants for Mother’s day</h1>
          <img src="{{ 'buy one get one (2).png' | asset_url }}">
        </div>
      </div> -->
    </div>
  </div>
</a>
{% schema %}
{
  "name": "Mother Day Banner",
  "settings": [],
   "presets": [{
  "name": "Mother Day Banner"
}]
}
{% endschema %}