<div class="mother-day-products">
  <div class="mother-day-products-inner">
     <div class="owl-carousel owl-theme motherdaySlider">
      <div class="mother-day-products-box item">
        <a href="https://geckobrands.com/collections/phone-dry-bags">
          <img src="{{ 'mothers1-1.png' | asset_url }}">
          <div class="mother-day-product-overlay">
            <h1 class="float-phone">Float Phone Dry Bags</h1>
            <p>Protect your phone, stay connected, and make a splash with our exclusive float phone dry bags. Choose yours!</p>
            <a href="https://geckobrands.com/collections/phone-dry-bags" class="shop-now">Shop Now</a>
          </div>
        </a>
      </div>
      <div class="mother-day-products-box item">
        <a href="https://geckobrands.com/collections/coozies-and-tumblers">
          <img src="{{ 'mothes1-2.png' | asset_url }}">
           <div class="mother-day-product-overlay">
            <h1 class="coozies">Insulated Coozies and Tumblers</h1>
            <p>Complete your collection with a matching coozie or tumbler. Coozies available in regular and slim sizes.</p>
            <a href="https://geckobrands.com/collections/coozies-and-tumblers" class="shop-now">Shop Now</a>
          </div>
        </a>
      </div>
      <div class="mother-day-products-box item">
        <a href="https://geckobrands.com/collections/other-waterproof-gear">
          <img src="{{ 'mothers1-3.png' | asset_url }}">
           <div class="mother-day-product-overlay">
            <h1 class="floating-sunglasses">Laguna Floating Sunglasses</h1>
            <p>Stay stylish and afloat with laguna floating sunglasses - the perfect accessory for your water adventures.</p>
            <a href="https://geckobrands.com/collections/other-waterproof-gear" class="shop-now">Shop Now</a>
          </div>
        </a>
      </div>
     </div>
  </div>
</div>
{% schema %}
{
  "name": "Mother Day Products",
  "settings": [],
   "presets": [{
  "name": "Mother Day Products"
}]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}