<div class="patent-information">
  <div class="container mx-auto xl:pb-16 sm:pb-10 pb-8">
    <div class="patent-information-inner">
      <div class="patent-information-box title">
        <div class="patent-information-box-left">
          <h3>Product Name</h3>
        </div>
        <div class="patent-information-box-right">
          <h3>US Patent. No.</h3>
        </div>
      </div>


      <div class="patent-information-box">
        <div class="patent-information-box-left">
          <p>Beverage Stake</p>
        </div>
        <div class="patent-information-box-right">
          <p>D948962</p>
        </div>
      </div>

      <div class="patent-information-box">
        <div class="patent-information-box-left">
          <p>LW WP Waist Pack</p>
        </div>
        <div class="patent-information-box-right">
          <p>D821093</p>
        </div>
      </div>

      <div class="patent-information-box">
        <div class="patent-information-box-left">
          <p>Phone Tote</p>
        </div>
        <div class="patent-information-box-right">
          <p>D830055</p>
        </div>
      </div>

       <div class="patent-information-box">
        <div class="patent-information-box-left">
          <p>Bench Seat Cargo Organizer</p>
        </div>
        <div class="patent-information-box-right">
          <p>D1025877</p>
        </div>
      </div>

      <div class="patent-information-box">
        <div class="patent-information-box-left">
          <p>Back Seat Caddy </p>
        </div>
        <div class="patent-information-box-right">
          <p>D1027807</p>
        </div>
      </div>

      <div class="patent-information-box">
        <div class="patent-information-box-left">
          <p>Trunk Carry Tote</p>
        </div>
        <div class="patent-information-box-right">
          <p>D1028852</p>
        </div>
      </div>

      <div class="patent-information-box">
        <div class="patent-information-box-left">
          <p>Seat Back Organizer</p>
        </div>
        <div class="patent-information-box-right">
          <p>D1051025</p>
        </div>
      </div>

      <div class="patent-information-box">
        <div class="patent-information-box-left">
          <p>Glove Compartment Organizer</p>
        </div>
        <div class="patent-information-box-right">
          <p>D1068629</p>
        </div>
      </div>

      <div class="patent-information-box">
        <div class="patent-information-box-left">
          <p>Visor Organizer</p>
        </div>
        <div class="patent-information-box-right">
          <p>Patent Pending</p>
        </div>
      </div>
      
      <div class="patent-information-box">
        <div class="patent-information-box-left">
          <p>Waterproof Belt Bag</p>
        </div>
        <div class="patent-information-box-right">
          <p>Patent Pending</p>
        </div>
      </div>

      
       <div class="patent-information-box">
        <div class="patent-information-box-left">
          <p>Ice Pack with Handle</p>
        </div>
        <div class="patent-information-box-right">
          <p>D1031800</p>
        </div>
      </div>

    

{% schema %}
{
  "name": "Patent Information",
  "settings": [],
   "presets": [{
  "name": "Patent Information"
}]
}  
{% endschema %}