<div class="people-reviews home-custom-fslider slideroption-new">
  <div class="people-reviews-inner">
    <h2>Real People <br>Real Reviews!</h2>
     <div class="owl-carousel owl-theme peopleReviews">
       <div class="item">
         <div class="people-reviews-black people-reviews-content">
           <h3>Rich</h3>
           <div class="para">
              <span class="main-text">I bought this specifically for a trip to Kauai and it was perfect. Worked great as a dry bag and a backpack. We used it every day. Was comfortable on day hike and we ran it through its paces on...</span>
              <span class="complete-text">waterproofing. Survived rain, mud, kayak trips. The best test was when we took it on a zodiak raft tour. We were out for 6 hours in rough seas and everything in the boat got soaked. Hopping out into chest deep water for a beach landing, I just through the backpack on and waded out no problem. All our stuff stayed dry in the hydroner the whole trip. I plan to get a lot more use out of the bag but it's already been well worth the purchase.</span>
              <span class="show-more">show more</span>
           </div>
           <div class="people-reviews-stars">
             <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M10.868 2.88418C10.547 2.11218 9.45299 2.11218 9.13199 2.88418L7.30199 7.28518L2.54899 7.66618C1.71599 7.73318 1.37799 8.77318 2.01299 9.31718L5.63299 12.4192L4.52699 17.0562C4.33299 17.8692 5.21799 18.5122 5.93199 18.0762L9.99999 15.5912L14.069 18.0762C14.782 18.5122 15.667 17.8692 15.473 17.0562L14.367 12.4192L17.987 9.31718C18.622 8.77318 18.284 7.73318 17.451 7.66718L12.699 7.28518L10.868 2.88418Z" fill="white"/>
            </svg>
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M10.868 2.88418C10.547 2.11218 9.45299 2.11218 9.13199 2.88418L7.30199 7.28518L2.54899 7.66618C1.71599 7.73318 1.37799 8.77318 2.01299 9.31718L5.63299 12.4192L4.52699 17.0562C4.33299 17.8692 5.21799 18.5122 5.93199 18.0762L9.99999 15.5912L14.069 18.0762C14.782 18.5122 15.667 17.8692 15.473 17.0562L14.367 12.4192L17.987 9.31718C18.622 8.77318 18.284 7.73318 17.451 7.66718L12.699 7.28518L10.868 2.88418Z" fill="white"/>
            </svg>
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M10.868 2.88418C10.547 2.11218 9.45299 2.11218 9.13199 2.88418L7.30199 7.28518L2.54899 7.66618C1.71599 7.73318 1.37799 8.77318 2.01299 9.31718L5.63299 12.4192L4.52699 17.0562C4.33299 17.8692 5.21799 18.5122 5.93199 18.0762L9.99999 15.5912L14.069 18.0762C14.782 18.5122 15.667 17.8692 15.473 17.0562L14.367 12.4192L17.987 9.31718C18.622 8.77318 18.284 7.73318 17.451 7.66718L12.699 7.28518L10.868 2.88418Z" fill="white"/>
            </svg>
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M10.868 2.88418C10.547 2.11218 9.45299 2.11218 9.13199 2.88418L7.30199 7.28518L2.54899 7.66618C1.71599 7.73318 1.37799 8.77318 2.01299 9.31718L5.63299 12.4192L4.52699 17.0562C4.33299 17.8692 5.21799 18.5122 5.93199 18.0762L9.99999 15.5912L14.069 18.0762C14.782 18.5122 15.667 17.8692 15.473 17.0562L14.367 12.4192L17.987 9.31718C18.622 8.77318 18.284 7.73318 17.451 7.66718L12.699 7.28518L10.868 2.88418Z" fill="white"/>
            </svg>
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M10.868 2.88418C10.547 2.11218 9.45299 2.11218 9.13199 2.88418L7.30199 7.28518L2.54899 7.66618C1.71599 7.73318 1.37799 8.77318 2.01299 9.31718L5.63299 12.4192L4.52699 17.0562C4.33299 17.8692 5.21799 18.5122 5.93199 18.0762L9.99999 15.5912L14.069 18.0762C14.782 18.5122 15.667 17.8692 15.473 17.0562L14.367 12.4192L17.987 9.31718C18.622 8.77318 18.284 7.73318 17.451 7.66718L12.699 7.28518L10.868 2.88418Z" fill="white"/>
            </svg>
           </div>
         </div>
        </div>  

        <div class="item">
         <div class="people-reviews-gray people-reviews-content">
           <h3>Amazon Customer</h3>
           <div class="para">
              <span class="main-text">Awesome cooler I take it everywhere. Keeps cool for hours. Highly impressed!!!Tons of uses other then golf bag cooler.Ideal to travel. We take it to the beach, hiking, camping, ATV trips. I highly...</span>
              <span class="complete-text">recommend it!!!</span>
              <span class="show-more">show more</span>
           </div>
           <div class="people-reviews-stars">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M10.868 2.88418C10.547 2.11218 9.45298 2.11218 9.13198 2.88418L7.30198 7.28518L2.54898 7.66618C1.71598 7.73318 1.37798 8.77318 2.01298 9.31718L5.63298 12.4192L4.52698 17.0562C4.33298 17.8692 5.21798 18.5122 5.93198 18.0762L9.99998 15.5912L14.069 18.0762C14.782 18.5122 15.667 17.8692 15.473 17.0562L14.367 12.4192L17.987 9.31718C18.622 8.77318 18.284 7.73318 17.451 7.66718L12.699 7.28518L10.868 2.88418Z" fill="#191919"/>
            </svg>
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M10.868 2.88418C10.547 2.11218 9.45298 2.11218 9.13198 2.88418L7.30198 7.28518L2.54898 7.66618C1.71598 7.73318 1.37798 8.77318 2.01298 9.31718L5.63298 12.4192L4.52698 17.0562C4.33298 17.8692 5.21798 18.5122 5.93198 18.0762L9.99998 15.5912L14.069 18.0762C14.782 18.5122 15.667 17.8692 15.473 17.0562L14.367 12.4192L17.987 9.31718C18.622 8.77318 18.284 7.73318 17.451 7.66718L12.699 7.28518L10.868 2.88418Z" fill="#191919"/>
            </svg>
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M10.868 2.88418C10.547 2.11218 9.45298 2.11218 9.13198 2.88418L7.30198 7.28518L2.54898 7.66618C1.71598 7.73318 1.37798 8.77318 2.01298 9.31718L5.63298 12.4192L4.52698 17.0562C4.33298 17.8692 5.21798 18.5122 5.93198 18.0762L9.99998 15.5912L14.069 18.0762C14.782 18.5122 15.667 17.8692 15.473 17.0562L14.367 12.4192L17.987 9.31718C18.622 8.77318 18.284 7.73318 17.451 7.66718L12.699 7.28518L10.868 2.88418Z" fill="#191919"/>
            </svg>
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M10.868 2.88418C10.547 2.11218 9.45298 2.11218 9.13198 2.88418L7.30198 7.28518L2.54898 7.66618C1.71598 7.73318 1.37798 8.77318 2.01298 9.31718L5.63298 12.4192L4.52698 17.0562C4.33298 17.8692 5.21798 18.5122 5.93198 18.0762L9.99998 15.5912L14.069 18.0762C14.782 18.5122 15.667 17.8692 15.473 17.0562L14.367 12.4192L17.987 9.31718C18.622 8.77318 18.284 7.73318 17.451 7.66718L12.699 7.28518L10.868 2.88418Z" fill="#191919"/>
            </svg>
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M10.868 2.88418C10.547 2.11218 9.45298 2.11218 9.13198 2.88418L7.30198 7.28518L2.54898 7.66618C1.71598 7.73318 1.37798 8.77318 2.01298 9.31718L5.63298 12.4192L4.52698 17.0562C4.33298 17.8692 5.21798 18.5122 5.93198 18.0762L9.99998 15.5912L14.069 18.0762C14.782 18.5122 15.667 17.8692 15.473 17.0562L14.367 12.4192L17.987 9.31718C18.622 8.77318 18.284 7.73318 17.451 7.66718L12.699 7.28518L10.868 2.88418Z" fill="#191919"/>
            </svg>
          </div>
         </div>
        </div> 

        <div class="item">
         <div class="people-reviews-black people-reviews-content">
           <h3>Mike G.</h3>
           <div class="para">
              <span class="main-text">After touring Norway and Iceland in some driving rainstorms, it was time to drop my nylon backpack and go for something with greater rain protection. This 30L backpack is perfect!Super...</span>
              <span class="complete-text">lightweight, packs flat, is comfortably large but not bulky, and has a widemouth roll top offering wonderful convenience and access. Just about the perfect backpack for any travelers.</span>
              <span class="show-more">show more</span>
           </div>
           <div class="people-reviews-stars">
             <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M10.868 2.88418C10.547 2.11218 9.45299 2.11218 9.13199 2.88418L7.30199 7.28518L2.54899 7.66618C1.71599 7.73318 1.37799 8.77318 2.01299 9.31718L5.63299 12.4192L4.52699 17.0562C4.33299 17.8692 5.21799 18.5122 5.93199 18.0762L9.99999 15.5912L14.069 18.0762C14.782 18.5122 15.667 17.8692 15.473 17.0562L14.367 12.4192L17.987 9.31718C18.622 8.77318 18.284 7.73318 17.451 7.66718L12.699 7.28518L10.868 2.88418Z" fill="white"/>
            </svg>
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M10.868 2.88418C10.547 2.11218 9.45299 2.11218 9.13199 2.88418L7.30199 7.28518L2.54899 7.66618C1.71599 7.73318 1.37799 8.77318 2.01299 9.31718L5.63299 12.4192L4.52699 17.0562C4.33299 17.8692 5.21799 18.5122 5.93199 18.0762L9.99999 15.5912L14.069 18.0762C14.782 18.5122 15.667 17.8692 15.473 17.0562L14.367 12.4192L17.987 9.31718C18.622 8.77318 18.284 7.73318 17.451 7.66718L12.699 7.28518L10.868 2.88418Z" fill="white"/>
            </svg>
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M10.868 2.88418C10.547 2.11218 9.45299 2.11218 9.13199 2.88418L7.30199 7.28518L2.54899 7.66618C1.71599 7.73318 1.37799 8.77318 2.01299 9.31718L5.63299 12.4192L4.52699 17.0562C4.33299 17.8692 5.21799 18.5122 5.93199 18.0762L9.99999 15.5912L14.069 18.0762C14.782 18.5122 15.667 17.8692 15.473 17.0562L14.367 12.4192L17.987 9.31718C18.622 8.77318 18.284 7.73318 17.451 7.66718L12.699 7.28518L10.868 2.88418Z" fill="white"/>
            </svg>
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M10.868 2.88418C10.547 2.11218 9.45299 2.11218 9.13199 2.88418L7.30199 7.28518L2.54899 7.66618C1.71599 7.73318 1.37799 8.77318 2.01299 9.31718L5.63299 12.4192L4.52699 17.0562C4.33299 17.8692 5.21799 18.5122 5.93199 18.0762L9.99999 15.5912L14.069 18.0762C14.782 18.5122 15.667 17.8692 15.473 17.0562L14.367 12.4192L17.987 9.31718C18.622 8.77318 18.284 7.73318 17.451 7.66718L12.699 7.28518L10.868 2.88418Z" fill="white"/>
            </svg>
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M10.868 2.88418C10.547 2.11218 9.45299 2.11218 9.13199 2.88418L7.30199 7.28518L2.54899 7.66618C1.71599 7.73318 1.37799 8.77318 2.01299 9.31718L5.63299 12.4192L4.52699 17.0562C4.33299 17.8692 5.21799 18.5122 5.93199 18.0762L9.99999 15.5912L14.069 18.0762C14.782 18.5122 15.667 17.8692 15.473 17.0562L14.367 12.4192L17.987 9.31718C18.622 8.77318 18.284 7.73318 17.451 7.66718L12.699 7.28518L10.868 2.88418Z" fill="white"/>
            </svg>
           </div>
         </div>
        </div> 

      <div class="item">
         <div class="people-reviews-gray people-reviews-content">
           <h3>Amazon Customer</h3>
           <div class="para">
              <span class="main-text">Awesome cooler I take it everywhere. Keeps cool for hours. Highly impressed!!!Tons of uses other then golf bag cooler.Ideal to travel. We take it to the beach, hiking, camping, ATV trips. I highly...</span>
              <span class="complete-text">recommend it!!!</span>
              <span class="show-more">show more</span>
           </div>
           <div class="people-reviews-stars">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M10.868 2.88418C10.547 2.11218 9.45298 2.11218 9.13198 2.88418L7.30198 7.28518L2.54898 7.66618C1.71598 7.73318 1.37798 8.77318 2.01298 9.31718L5.63298 12.4192L4.52698 17.0562C4.33298 17.8692 5.21798 18.5122 5.93198 18.0762L9.99998 15.5912L14.069 18.0762C14.782 18.5122 15.667 17.8692 15.473 17.0562L14.367 12.4192L17.987 9.31718C18.622 8.77318 18.284 7.73318 17.451 7.66718L12.699 7.28518L10.868 2.88418Z" fill="#191919"/>
            </svg>
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M10.868 2.88418C10.547 2.11218 9.45298 2.11218 9.13198 2.88418L7.30198 7.28518L2.54898 7.66618C1.71598 7.73318 1.37798 8.77318 2.01298 9.31718L5.63298 12.4192L4.52698 17.0562C4.33298 17.8692 5.21798 18.5122 5.93198 18.0762L9.99998 15.5912L14.069 18.0762C14.782 18.5122 15.667 17.8692 15.473 17.0562L14.367 12.4192L17.987 9.31718C18.622 8.77318 18.284 7.73318 17.451 7.66718L12.699 7.28518L10.868 2.88418Z" fill="#191919"/>
            </svg>
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M10.868 2.88418C10.547 2.11218 9.45298 2.11218 9.13198 2.88418L7.30198 7.28518L2.54898 7.66618C1.71598 7.73318 1.37798 8.77318 2.01298 9.31718L5.63298 12.4192L4.52698 17.0562C4.33298 17.8692 5.21798 18.5122 5.93198 18.0762L9.99998 15.5912L14.069 18.0762C14.782 18.5122 15.667 17.8692 15.473 17.0562L14.367 12.4192L17.987 9.31718C18.622 8.77318 18.284 7.73318 17.451 7.66718L12.699 7.28518L10.868 2.88418Z" fill="#191919"/>
            </svg>
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M10.868 2.88418C10.547 2.11218 9.45298 2.11218 9.13198 2.88418L7.30198 7.28518L2.54898 7.66618C1.71598 7.73318 1.37798 8.77318 2.01298 9.31718L5.63298 12.4192L4.52698 17.0562C4.33298 17.8692 5.21798 18.5122 5.93198 18.0762L9.99998 15.5912L14.069 18.0762C14.782 18.5122 15.667 17.8692 15.473 17.0562L14.367 12.4192L17.987 9.31718C18.622 8.77318 18.284 7.73318 17.451 7.66718L12.699 7.28518L10.868 2.88418Z" fill="#191919"/>
            </svg>
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M10.868 2.88418C10.547 2.11218 9.45298 2.11218 9.13198 2.88418L7.30198 7.28518L2.54898 7.66618C1.71598 7.73318 1.37798 8.77318 2.01298 9.31718L5.63298 12.4192L4.52698 17.0562C4.33298 17.8692 5.21798 18.5122 5.93198 18.0762L9.99998 15.5912L14.069 18.0762C14.782 18.5122 15.667 17.8692 15.473 17.0562L14.367 12.4192L17.987 9.31718C18.622 8.77318 18.284 7.73318 17.451 7.66718L12.699 7.28518L10.868 2.88418Z" fill="#191919"/>
            </svg>
          </div>
         </div>
        </div> 

        <div class="people-reviews-black people-reviews-content">
           <h3>Rich</h3>
           <div class="para">
              <span class="main-text">I bought this specifically for a trip to Kauai and it was perfect. Worked great as a dry bag and a backpack. We used it every day. Was comfortable on day hike and we ran it through its paces on...</span>
              <span class="complete-text">waterproofing. Survived rain, mud, kayak trips. The best test was when we took it on a zodiak raft tour. We were out for 6 hours in rough seas and everything in the boat got soaked. Hopping out into chest deep water for a beach landing, I just through the backpack on and waded out no problem. All our stuff stayed dry in the hydroner the whole trip. I plan to get a lot more use out of the bag but it's already been well worth the purchase.</span>
              <span class="show-more">show more</span>
           </div>
           <div class="people-reviews-stars">
             <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M10.868 2.88418C10.547 2.11218 9.45299 2.11218 9.13199 2.88418L7.30199 7.28518L2.54899 7.66618C1.71599 7.73318 1.37799 8.77318 2.01299 9.31718L5.63299 12.4192L4.52699 17.0562C4.33299 17.8692 5.21799 18.5122 5.93199 18.0762L9.99999 15.5912L14.069 18.0762C14.782 18.5122 15.667 17.8692 15.473 17.0562L14.367 12.4192L17.987 9.31718C18.622 8.77318 18.284 7.73318 17.451 7.66718L12.699 7.28518L10.868 2.88418Z" fill="white"/>
            </svg>
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M10.868 2.88418C10.547 2.11218 9.45299 2.11218 9.13199 2.88418L7.30199 7.28518L2.54899 7.66618C1.71599 7.73318 1.37799 8.77318 2.01299 9.31718L5.63299 12.4192L4.52699 17.0562C4.33299 17.8692 5.21799 18.5122 5.93199 18.0762L9.99999 15.5912L14.069 18.0762C14.782 18.5122 15.667 17.8692 15.473 17.0562L14.367 12.4192L17.987 9.31718C18.622 8.77318 18.284 7.73318 17.451 7.66718L12.699 7.28518L10.868 2.88418Z" fill="white"/>
            </svg>
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M10.868 2.88418C10.547 2.11218 9.45299 2.11218 9.13199 2.88418L7.30199 7.28518L2.54899 7.66618C1.71599 7.73318 1.37799 8.77318 2.01299 9.31718L5.63299 12.4192L4.52699 17.0562C4.33299 17.8692 5.21799 18.5122 5.93199 18.0762L9.99999 15.5912L14.069 18.0762C14.782 18.5122 15.667 17.8692 15.473 17.0562L14.367 12.4192L17.987 9.31718C18.622 8.77318 18.284 7.73318 17.451 7.66718L12.699 7.28518L10.868 2.88418Z" fill="white"/>
            </svg>
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M10.868 2.88418C10.547 2.11218 9.45299 2.11218 9.13199 2.88418L7.30199 7.28518L2.54899 7.66618C1.71599 7.73318 1.37799 8.77318 2.01299 9.31718L5.63299 12.4192L4.52699 17.0562C4.33299 17.8692 5.21799 18.5122 5.93199 18.0762L9.99999 15.5912L14.069 18.0762C14.782 18.5122 15.667 17.8692 15.473 17.0562L14.367 12.4192L17.987 9.31718C18.622 8.77318 18.284 7.73318 17.451 7.66718L12.699 7.28518L10.868 2.88418Z" fill="white"/>
            </svg>
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M10.868 2.88418C10.547 2.11218 9.45299 2.11218 9.13199 2.88418L7.30199 7.28518L2.54899 7.66618C1.71599 7.73318 1.37799 8.77318 2.01299 9.31718L5.63299 12.4192L4.52699 17.0562C4.33299 17.8692 5.21799 18.5122 5.93199 18.0762L9.99999 15.5912L14.069 18.0762C14.782 18.5122 15.667 17.8692 15.473 17.0562L14.367 12.4192L17.987 9.31718C18.622 8.77318 18.284 7.73318 17.451 7.66718L12.699 7.28518L10.868 2.88418Z" fill="white"/>
            </svg>
           </div>
         </div>

        <div class="item">
         <div class="people-reviews-gray people-reviews-content">
           <h3>Amazon Customer</h3>
           <div class="para">
              <span class="main-text">Awesome cooler I take it everywhere. Keeps cool for hours. Highly impressed!!!Tons of uses other then golf bag cooler.Ideal to travel. We take it to the beach, hiking, camping, ATV trips. I highly...</span>
              <span class="complete-text">recommend it!!!</span>
              <span class="show-more">show more</span>
           </div>
           <div class="people-reviews-stars">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M10.868 2.88418C10.547 2.11218 9.45298 2.11218 9.13198 2.88418L7.30198 7.28518L2.54898 7.66618C1.71598 7.73318 1.37798 8.77318 2.01298 9.31718L5.63298 12.4192L4.52698 17.0562C4.33298 17.8692 5.21798 18.5122 5.93198 18.0762L9.99998 15.5912L14.069 18.0762C14.782 18.5122 15.667 17.8692 15.473 17.0562L14.367 12.4192L17.987 9.31718C18.622 8.77318 18.284 7.73318 17.451 7.66718L12.699 7.28518L10.868 2.88418Z" fill="#191919"/>
            </svg>
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M10.868 2.88418C10.547 2.11218 9.45298 2.11218 9.13198 2.88418L7.30198 7.28518L2.54898 7.66618C1.71598 7.73318 1.37798 8.77318 2.01298 9.31718L5.63298 12.4192L4.52698 17.0562C4.33298 17.8692 5.21798 18.5122 5.93198 18.0762L9.99998 15.5912L14.069 18.0762C14.782 18.5122 15.667 17.8692 15.473 17.0562L14.367 12.4192L17.987 9.31718C18.622 8.77318 18.284 7.73318 17.451 7.66718L12.699 7.28518L10.868 2.88418Z" fill="#191919"/>
            </svg>
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M10.868 2.88418C10.547 2.11218 9.45298 2.11218 9.13198 2.88418L7.30198 7.28518L2.54898 7.66618C1.71598 7.73318 1.37798 8.77318 2.01298 9.31718L5.63298 12.4192L4.52698 17.0562C4.33298 17.8692 5.21798 18.5122 5.93198 18.0762L9.99998 15.5912L14.069 18.0762C14.782 18.5122 15.667 17.8692 15.473 17.0562L14.367 12.4192L17.987 9.31718C18.622 8.77318 18.284 7.73318 17.451 7.66718L12.699 7.28518L10.868 2.88418Z" fill="#191919"/>
            </svg>
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M10.868 2.88418C10.547 2.11218 9.45298 2.11218 9.13198 2.88418L7.30198 7.28518L2.54898 7.66618C1.71598 7.73318 1.37798 8.77318 2.01298 9.31718L5.63298 12.4192L4.52698 17.0562C4.33298 17.8692 5.21798 18.5122 5.93198 18.0762L9.99998 15.5912L14.069 18.0762C14.782 18.5122 15.667 17.8692 15.473 17.0562L14.367 12.4192L17.987 9.31718C18.622 8.77318 18.284 7.73318 17.451 7.66718L12.699 7.28518L10.868 2.88418Z" fill="#191919"/>
            </svg>
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M10.868 2.88418C10.547 2.11218 9.45298 2.11218 9.13198 2.88418L7.30198 7.28518L2.54898 7.66618C1.71598 7.73318 1.37798 8.77318 2.01298 9.31718L5.63298 12.4192L4.52698 17.0562C4.33298 17.8692 5.21798 18.5122 5.93198 18.0762L9.99998 15.5912L14.069 18.0762C14.782 18.5122 15.667 17.8692 15.473 17.0562L14.367 12.4192L17.987 9.31718C18.622 8.77318 18.284 7.73318 17.451 7.66718L12.699 7.28518L10.868 2.88418Z" fill="#191919"/>
            </svg>
          </div>
         </div>
        </div> 

        <div class="item">
         <div class="people-reviews-black people-reviews-content">
           <h3>Mike G.</h3>
           <div class="para">
              <span class="main-text">After touring Norway and Iceland in some driving rainstorms, it was time to drop my nylon backpack and go for something with greater rain protection. This 30L backpack is perfect!Super...</span>
              <span class="complete-text">lightweight, packs flat, is comfortably large but not bulky, and has a widemouth roll top offering wonderful convenience and access. Just about the perfect backpack for any travelers.</span>
              <span class="show-more">show more</span>
           </div>
           <div class="people-reviews-stars">
             <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M10.868 2.88418C10.547 2.11218 9.45299 2.11218 9.13199 2.88418L7.30199 7.28518L2.54899 7.66618C1.71599 7.73318 1.37799 8.77318 2.01299 9.31718L5.63299 12.4192L4.52699 17.0562C4.33299 17.8692 5.21799 18.5122 5.93199 18.0762L9.99999 15.5912L14.069 18.0762C14.782 18.5122 15.667 17.8692 15.473 17.0562L14.367 12.4192L17.987 9.31718C18.622 8.77318 18.284 7.73318 17.451 7.66718L12.699 7.28518L10.868 2.88418Z" fill="white"/>
            </svg>
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M10.868 2.88418C10.547 2.11218 9.45299 2.11218 9.13199 2.88418L7.30199 7.28518L2.54899 7.66618C1.71599 7.73318 1.37799 8.77318 2.01299 9.31718L5.63299 12.4192L4.52699 17.0562C4.33299 17.8692 5.21799 18.5122 5.93199 18.0762L9.99999 15.5912L14.069 18.0762C14.782 18.5122 15.667 17.8692 15.473 17.0562L14.367 12.4192L17.987 9.31718C18.622 8.77318 18.284 7.73318 17.451 7.66718L12.699 7.28518L10.868 2.88418Z" fill="white"/>
            </svg>
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M10.868 2.88418C10.547 2.11218 9.45299 2.11218 9.13199 2.88418L7.30199 7.28518L2.54899 7.66618C1.71599 7.73318 1.37799 8.77318 2.01299 9.31718L5.63299 12.4192L4.52699 17.0562C4.33299 17.8692 5.21799 18.5122 5.93199 18.0762L9.99999 15.5912L14.069 18.0762C14.782 18.5122 15.667 17.8692 15.473 17.0562L14.367 12.4192L17.987 9.31718C18.622 8.77318 18.284 7.73318 17.451 7.66718L12.699 7.28518L10.868 2.88418Z" fill="white"/>
            </svg>
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M10.868 2.88418C10.547 2.11218 9.45299 2.11218 9.13199 2.88418L7.30199 7.28518L2.54899 7.66618C1.71599 7.73318 1.37799 8.77318 2.01299 9.31718L5.63299 12.4192L4.52699 17.0562C4.33299 17.8692 5.21799 18.5122 5.93199 18.0762L9.99999 15.5912L14.069 18.0762C14.782 18.5122 15.667 17.8692 15.473 17.0562L14.367 12.4192L17.987 9.31718C18.622 8.77318 18.284 7.73318 17.451 7.66718L12.699 7.28518L10.868 2.88418Z" fill="white"/>
            </svg>
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M10.868 2.88418C10.547 2.11218 9.45299 2.11218 9.13199 2.88418L7.30199 7.28518L2.54899 7.66618C1.71599 7.73318 1.37799 8.77318 2.01299 9.31718L5.63299 12.4192L4.52699 17.0562C4.33299 17.8692 5.21799 18.5122 5.93199 18.0762L9.99999 15.5912L14.069 18.0762C14.782 18.5122 15.667 17.8692 15.473 17.0562L14.367 12.4192L17.987 9.31718C18.622 8.77318 18.284 7.73318 17.451 7.66718L12.699 7.28518L10.868 2.88418Z" fill="white"/>
            </svg>
           </div>
         </div>
        </div> 
                
     </div>
    <span id="slider-counter"></span>
  </div>
</div>
{% schema %}
{
  "name": "People Reviews",
  "settings": [],
   "presets": [{
  "name": "People Reviews"
}]
}
{% endschema %}

{% stylesheet %} 
{% endstylesheet %}

{% javascript %}
  $('.peopleReviews').owlCarousel({    
          nav: true, 
          navText: ["<img src='https://cdn.shopify.com/s/files/1/0683/7741/1865/files/west-arrow.png'>","<img src='https://cdn.shopify.com/s/files/1/0683/7741/1865/files/east-arrow.png'>"], 
          margin: 30, 
          dots: true,   
          items: 3,         
          loop: false,   
          autoplay: false, 
          dotsEach: true,
          responsiveClass: true,
          onInitialized:peoCounter,
          onTranslated:peoCounter,
          responsive: {  
              0: { 
                  items: 1,  
                  margin: 15, 
                  autoplay: false, 
                  stagePadding: 30      
              },  
              570: { 
                  items: 2,
                  margin: 15, 
                  autoplay: false, 
                  stagePadding: 30      
              },
              768: {  
                  items: 2,
                  margin: 20, 
                  stagePadding: 40        
              },
              1023: {  
                  items: 3 
              },
	          onInitialized : function(){ 
	              if($('.owl-item').first().hasClass('active'))
	                  $('.owl-prev').hide();
	              else
	                  $('.owl-prev').show();
                }
          }
	         
        });
         
        function peoCounter(event) { 
            var element = event.target;
            var items = event.item.count; 
            var item = event.item.index + 1; 
            if(window.outerWidth > 1023) { 
              $('.people-reviews #slider-counter').html(""+item+" / 5");   
            }
            else if (window.outerWidth < 570) { 
              $('.people-reviews #slider-counter').html(""+item+" / "+items);  
            }  
 
            else if (window.outerWidth > 571 && window.outerWidth < 1022) {     
              $('.people-reviews #slider-counter').html(""+item+" / 6");        
            } 
 
          }  

        setTimeout(function() {  
          jQuery(".people-reviews #slider-counter").detach().appendTo('.people-reviews .owl-nav'); 
        }, 1000); 
  
        setTimeout(function() {  
          jQuery(".people-reviews .peopleReviews .owl-dots").detach().appendTo('.people-reviews .owl-nav');  
        }, 1000);

        $('.people-reviews .show-more').click(function(e) { 
          e.preventDefault();
          $(this).text(function(i, t) {
            return t == 'show less' ? 'show more' : 'show less';
          }).prev('.people-reviews .complete-text').slideToggle()
      }); 
      
{% endjavascript %}