<div class="product-activity">
  <div class="container ">
    <div class="prod-activity-inner">
      <div class="prod-activity-boxes">
        <img src="{{ 'icon1.png' | asset_url }}">
        <h2>Quality Servies</h2>
        <div class="detail">
          <span>At our fitness</span>/
          <a href="">Studio</a>
        </div>
        <span class="tag">Pro</span>
      </div>
      <div class="prod-activity-boxes active">
        <img src="{{ 'icon2.png' | asset_url }}">
         <h2>Quality Servies</h2>
        <div class="detail">
          <span>At our fitness</span>/
          <a href="">Studio</a>
        </div>
        <span class="tag">Pro</span>
      </div>
      <div class="prod-activity-boxes">
        <img src="{{ 'icon3.png' | asset_url }}">
         <h2>Quality Servies</h2>
        <div class="detail">
          <span>At our fitness</span>/
          <a href="">Studio</a>
        </div>
        <span class="tag">Pro</span>
      </div>
      <div class="prod-activity-boxes">
        <img src="{{ 'icon4.png' | asset_url }}">
         <h2>Quality Servies</h2>
        <div class="detail">
          <span>At our fitness</span>/
          <a href="">Studio</a>
        </div>
        <span class="tag">Pro</span>
      </div>
    </div>
  </div>
</div>
{% schema %}
{
  "name": "Product Activity",
  "settings": [],
   "presets": [{
  "name": "Product Activity"
}]
}
{% endschema %}


{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}