<div class="geckobrands-home-video geckobrands-other-video">
<div class="geckobrands-home-banner" style="" data-teaser-autoplay-start="0" data-teaser-autoplay-end="5" data-campaign="null" data-creative="null">
<div class="home-top-content video-section">
<div class="video-wrap ">
<video class="video-player myvideo lazyloaded initialized" onclick="playPause()" controls loop muted data-poster-desktop="https://yeti-web.imgix.net/36f5e97c4497158d/original/220100_LP_Asset_Banner_Large_Banner_5-1_Video_Link_Lifestyle_Bags_Buying_Guide_Unpacking_Camino_Video_Still_Image_Desktop-1x.jpg?auto=format" data-poster-tablet="https://yeti-web.imgix.net/706e8beeaab94e86/original/220100_LP_Asset_Banner_Large_Banner_5-1_Video_Link_Lifestyle_Bags_Buying_Guide_Unpacking_Camino_Video_Still_Image_Tablet-1x.jpg?auto=format" data-poster-mobile="https://yeti-web.imgix.net/c998d1c89834b45/original/220100_LP_Asset_Banner_Large_Banner_5-1_Video_Link_Lifestyle_Bags_Buying_Guide_Unpacking_Camino_Video_Still_Image_Mobile-1x.jpg?auto=format" data-poster="https://yeti-web.imgix.net/36f5e97c4497158d/original/220100_LP_Asset_Banner_Large_Banner_5-1_Video_Link_Lifestyle_Bags_Buying_Guide_Unpacking_Camino_Video_Still_Image_Desktop-1x.jpg?auto=format" poster="https://yeti-web.imgix.net/36f5e97c4497158d/original/220100_LP_Asset_Banner_Large_Banner_5-1_Video_Link_Lifestyle_Bags_Buying_Guide_Unpacking_Camino_Video_Still_Image_Desktop-1x.jpg?auto=format">
<source data-src="https://cdn.shopify.com/videos/c/o/v/96bfe2bdf84f4f92ad245ed04304c397.mov#t=0.1" data-src-mobile="https://cdn.shopify.com/videos/c/o/v/96bfe2bdf84f4f92ad245ed04304c397.mov#t=0.1" data-src-tablet="https://cdn.shopify.com/videos/c/o/v/96bfe2bdf84f4f92ad245ed04304c397.mov#t=0.1" data-src-desktop="https://cdn.shopify.com/videos/c/o/v/96bfe2bdf84f4f92ad245ed04304c397.mov#t=0.1" data-width-desktop="1920" data-height-desktop="700" data-width-tablet="1024" data-height-tablet="700" data-width-mobile="400" data-height-mobile="600" type="video/mp4" src="https://cdn.shopify.com/videos/c/o/v/96bfe2bdf84f4f92ad245ed04304c397.mov#t=0.1" width="1920" height="700">
Your browser does not support video
</video>
<div class="gradient-bg left-to-right" style="width: 100%; "></div>
  <div class="cta-block center-center m-center-center">
<div class="pd-banner__text">
<div class="d-none d-md-block">
<h4><span style="font-size:2.25rem; line-height:2.375rem; display:block; color:#fff;font-weight:500;letter-spacing:1.8px">LOREM IPSUM DOLOR</span></h4>
</div>
  <div class="d-md-none">
<p><span style="font-size:2.25rem; line-height:2.375rem; display:block; color:#fff;font-weight:200;letter-spacing:1.8px"">LOREM IPSUM DOLOR</span></p>
</div>

</div>
<button class="play cta-button-primary btn btn-primary-alt" aria-label="Play Button">
  

<span>Watch Now</span>
</button>
</div>

</div>

</div>
</div>
</div>


{% schema %}
{
    "name": "Top Video Section-1",
  "settings": [],
   "presets": [{
  "name": "Top Video Section-1"
}]
}
{% endschema %}
