<div class="geckobrands-home-video main-banner-video">
<div class="geckobrands-home-banner" style="" data-teaser-autoplay-start="0" data-teaser-autoplay-end="5" data-campaign="null" data-creative="null">
<div class="home-top-content">
<div class="video-wrap ">
<video class="video-player myvideo initialized lazyloaded"  onclick="playPause()" loop muted  data-poster-desktop="	https://geckobrands.com/cdn/shop/files/BEACH_TOWEL_BALL.jpg?v=1676369662" data-poster-tablet="	https://geckobrands.com/cdn/shop/files/BEACH_TOWEL_BALL.jpg?v=1676369662" data-poster-mobile="	https://geckobrands.com/cdn/shop/files/BEACH_TOWEL_BALL.jpg?v=1676369662" data-poster="	https://geckobrands.com/cdn/shop/files/BEACH_TOWEL_BALL.jpg?v=1676369662" poster="	https://geckobrands.com/cdn/shop/files/BEACH_TOWEL_BALL.jpg?v=1676369662">
<source data-src="https://cdn.shopify.com/videos/c/o/v/96bfe2bdf84f4f92ad245ed04304c397.mov#t=0.1" data-src-mobile="https://cdn.shopify.com/videos/c/o/v/96bfe2bdf84f4f92ad245ed04304c397.mov#t=0.1" data-src-tablet="https://cdn.shopify.com/videos/c/o/v/96bfe2bdf84f4f92ad245ed04304c397.mov#t=0.1" data-src-desktop="https://cdn.shopify.com/videos/c/o/v/96bfe2bdf84f4f92ad245ed04304c397.mov#t=0.1" data-width-desktop="1920" data-height-desktop="700" data-width-tablet="1024" data-height-tablet="700" data-width-mobile="400" data-height-mobile="600" type="video/mp4" src="https://cdn.shopify.com/videos/c/o/v/96bfe2bdf84f4f92ad245ed04304c397.mov#t=0.1" width="1920" height="700">
Your browser does not support video
</video>
<div class="gradient-bg left-to-right" style="width: 100%; background-image: linear-gradient(to left, rgba(0,0,0,0), rgba(0,0,0,0.5)"></div>
<button class="video-controls ada pause" onclick="playPause()" aria-label="Pause Button" data-play="Play Button" data-pause="Pause Button" style="display: inline-flex;">
</button>
</div>
<div class="cta-block center-center m-top-center">
<div class="pd-banner__text">
<div class="d-block">
<p></p><div class="item-badge item-badge--white"> BUYING GUIDE</div><p></p><h1>
  <span>LOREM IPSUM</span>
  <br>DOLOR</h1>
</div>
</div>
</div>
</div>
</div>
</div>


{% schema %}
{
    "name": "Home Top Video Section",
  "settings": [],
   "presets": [{
  "name": "Home Top Video Section"
}]
}
{% endschema %}
