<div class="while-supply-last">
   <div class="container-fluid section-my" style="--column-gap: 31px; --column-gap-mobile: 11px; --row-gap-mobile: 11px; --row-gap: 31px; --items: 4">
      <div class="collection-list__wrapper ">
         <div class="sf__ms sf__ms--mb-grid">
            <div class="sf__ms-wrapper sf-grid grid sf__ms-wrapper--max  md:grid-cols-1 xl:grid-cols-3">
               <link href="//geckobrands.com/cdn/shop/t/3/assets/component-collection-card.css?v=42666355208578609021669035936" rel="stylesheet" type="text/css" media="all">
               <div class="sf-column">
                  <div class="collection-card collection-card--standard collection-card--hover-scaling-up">
                     <div class="collection-card__inner">
                        <a href="/collections/shop-by-category" class="collection-card__image block overflow-hidden w-full">
                           <responsive-image class="ccccc sf-image " style="--aspect-ratio: 2.395104895104895;" intersecting="true">
                              <img srcset="//geckobrands.com/cdn/shop/files/MicrosoftTeams-image_39.jpg?v=1689871634&amp;width=165 165w,//geckobrands.com/cdn/shop/files/MicrosoftTeams-image_39.jpg?v=1689871634&amp;width=360 360w,//geckobrands.com/cdn/shop/files/MicrosoftTeams-image_39.jpg?v=1689871634&amp;width=533 533w,//geckobrands.com/cdn/shop/files/MicrosoftTeams-image_39.jpg?v=1689871634 685w" src="//geckobrands.com/cdn/shop/files/MicrosoftTeams-image_39.jpg?v=1689871634&amp;width=360" sizes="422px" alt="" loading="lazy" class="w-full f-img-loaded" width="422" height="176">
                              <noscript>
                                 <img class="w-full" loading="lazy" width="" height="" src="//geckobrands.com/cdn/shop/files/MicrosoftTeams-image_39.jpg?crop=center&height=2048&v=1689871634&width=2048" alt="">
                              </noscript>
                           </responsive-image>
                        </a>
                        <div class="collection-card__info md:mt-5 mt-2.5 text-left">
                           <h3>
                              <a class="text-lg md:text-xl font-medium block" href="/collections/shop-by-category">
                              Backpacks
                              </a>
                           </h3>
                        </div>
                     </div>
                  </div>
               </div>
               <link href="//geckobrands.com/cdn/shop/t/3/assets/component-collection-card.css?v=42666355208578609021669035936" rel="stylesheet" type="text/css" media="all">
               <div class="sf-column">
                  <div class="collection-card collection-card--standard collection-card--hover-scaling-up">
                     <div class="collection-card__inner">
                        <a href="/collections/beach-totes-1" class="collection-card__image block overflow-hidden w-full">
                           <responsive-image class="ccccc sf-image " style="--aspect-ratio: 2.395104895104895;" intersecting="true">
                              <img srcset="//geckobrands.com/cdn/shop/files/gecko-backpack.jpg?v=1690297916&amp;width=165 165w,//geckobrands.com/cdn/shop/files/gecko-backpack.jpg?v=1690297916&amp;width=360 360w,//geckobrands.com/cdn/shop/files/gecko-backpack.jpg?v=1690297916&amp;width=533 533w,//geckobrands.com/cdn/shop/files/gecko-backpack.jpg?v=1690297916 685w" src="//geckobrands.com/cdn/shop/files/gecko-backpack.jpg?v=1690297916&amp;width=360" sizes="422px" alt="" loading="lazy" class="w-full f-img-loaded" width="422" height="176">
                              <noscript>
                                 <img class="w-full" loading="lazy" width="" height="" src="//geckobrands.com/cdn/shop/files/gecko-backpack.jpg?crop=center&height=2048&v=1690297916&width=2048" alt="">
                              </noscript>
                           </responsive-image>
                        </a>
                        <div class="collection-card__info md:mt-5 mt-2.5 text-left">
                           <h3>
                              <a class="text-lg md:text-xl font-medium block" href="/collections/beach-totes-1">
                              Beach Totes
                              </a>
                           </h3>
                        </div>
                     </div>
                  </div>
               </div>
               <link href="//geckobrands.com/cdn/shop/t/3/assets/component-collection-card.css?v=42666355208578609021669035936" rel="stylesheet" type="text/css" media="all">
               <div class="sf-column"> 
                  <div class="collection-card collection-card--standard collection-card--hover-scaling-up">
                     <div class="collection-card__inner">
                        <a href="/products/swim-bag-last-chance" class="collection-card__image block overflow-hidden w-full">
                           <responsive-image class="ccccc sf-image " style="--aspect-ratio: 2.395104895104895;" intersecting="true">
                              <img srcset="//geckobrands.com/cdn/shop/files/MicrosoftTeams-image_40.jpg?v=1689958175&amp;width=165 165w,//geckobrands.com/cdn/shop/files/MicrosoftTeams-image_40.jpg?v=1689958175&amp;width=360 360w,//geckobrands.com/cdn/shop/files/MicrosoftTeams-image_40.jpg?v=1689958175&amp;width=533 533w,//geckobrands.com/cdn/shop/files/MicrosoftTeams-image_40.jpg?v=1689958175 685w" src="//geckobrands.com/cdn/shop/files/MicrosoftTeams-image_40.jpg?v=1689958175&amp;width=360" sizes="422px" alt="" loading="lazy" class="w-full f-img-loaded" width="422" height="176">
                              <noscript>
                                 <img class="w-full" loading="lazy" width="" height="" src="//geckobrands.com/cdn/shop/files/MicrosoftTeams-image_40.jpg?crop=center&height=2048&v=1689958175&width=2048" alt="">
                              </noscript>
                           </responsive-image>
                        </a>
                        <div class="collection-card__info md:mt-5 mt-2.5 text-left">
                           <h3>
                              <a class="text-lg md:text-xl font-medium block" href="/products/swim-bag-last-chance">
                              Swim Bags
                              </a>
                           </h3>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>




{% schema %}
{
  "name": "While Supply Last",
  
   "presets": [{
  "name": "While Supply last"
}]
}
{% endschema %}

{% stylesheet %}
    .while-supply-last {
	padding: 60px 0;

}

    .while-supply-last .collection-card h3 {
	text-align: center;
}

@media screen and (max-width: 767px) {
	.while-supply-last .sf__ms--mb-grid:not(.sf__ms--slider) .sf-grid {
		display: block;

	}

	.while-supply-last {
		padding: 0px 0px 60px 0;

	}

}
{% endstylesheet %}

